

.followerlist{
    position: fixed;
    top:60px;
    right:0;
    width:150px;
    max-height: calc(100vh - 60px);
    z-index: 9999;
}

.followerlistHeader{
    height: 40px;
    cursor: pointer;
    width: calc(100% - 10px);
    margin-right: 10px;
       box-shadow: 6px 5px 10px rgba(0,0,0,0.3);
   border-radius: 15px;
   background :rgba(255,255,255,0.1);
   border-top:1px solid rgba(255,255,255,0.5);
   border-left: 1px solid rgba(255,255,255,0.5);
   backdrop-filter: blur(5px);
   -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
   display: flex;
    justify-content: center;
    align-items: center;

  
}
.followerlistHeaderHide{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.followerlistHeaderTitle{
    font-size: 16px;
    font-weight: bold;
    color: #1266f1;
    margin : 0;
}
.followerlistBody{
    margin-top: 10px;
    margin-right: 10px;
    height: calc(100vh - 130px);
    width: calc(100% - 10px);
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    box-shadow: 6px 5px 10px rgba(0,0,0,0.3);
   border-radius: 15px;
   -webkit-backdrop-filter: blur(10px);
   border-top:1px solid rgba(255,255,255,0.5);
   border-left: 1px solid rgba(255,255,255,0.5);
   

}

.online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #90EE02;
    margin-right: 5px;
    box-shadow: 0px 0px 3px #90EE02;
    
    position: absolute;
    top: 25px;
    right: -5px;


}

