@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  top: 8%;
  left: 0;
  height: 92%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;

  .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}




}



}

.sidebar.close{
  width: 78px;
  .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
}