@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
    
@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





.navbar{
    background-color:var(--bg-panel) !important;
    color: var(--color-text);
    @include flexBetween();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 1px solid var(--color-headings);
    


    .bars-toggle{
        margin: 0px 10px;
        
        
        .bars{
          font-size: 1.5em;
          cursor: pointer;
          
        }
    }

    .brand{
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 10px;
        text-decoration: none;
        cursor: pointer;
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 0px 10px;
        list-style: none;
        padding: 0px;
        li{
            margin: 0px 18px;
            transition: all 0.3s ease-in-out;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border-top: 10px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 10px solid transparent;
                position: absolute;
                transform: rotate(45deg);
                bottom: 30%;
                right: -18px;
            }
            &::after{
                content: '';
                display: block;
                width: 0%;
                height: 2px;
               background-color: var(--color-headings);
                bottom: 10%;
                left: 0;
                position: absolute;
                transition: width 0.3s ease-in-out;
            }
            &:hover{
                &::before{
                    border-bottom: 10px solid var(--color-headings);
                }
                &::after{
                  width: 100%;
                }
            }
            a{
                text-decoration: none;
                color: var(--color-text);
                font-size: 1.1em;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
    .theme-toggle{
       background: transparent;

      button{
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-text);
        padding: 10px;
        margin: 0px;
         .theme-toggle-text{
              font-size: 1em;
              cursor: pointer;
              background: transparent;
       }
      }
        
    }
    .user-tools{
        padding: 0px 10px;
        
        .user-login{
          @include flexBetween();


          .user-name{
            color: var(--color-headings);
            font-size: 1em;
            font-weight: 500;
            letter-spacing: 1px;
          }
          
            .user-avatar{
                        width: 30px;
                        height: 30px;
                        padding: 0;
                        border-radius: 50%;
                        margin-right: 10px;
                        margin-left: 10px;
                        border: 2px solid var(--color-headings);
                        overflow: hidden;
                            img{
                              width: 100%;
                              height: 105%;
                              
                              object-fit: cover;
                            }
                      }

           .user-dropdown{
           cursor: pointer;
            
            &:hover{
              .threeDots{
                color: var(--color-headings);
              }
              }
            }

        }


          
        
        
            .user-tools-text{
               display: inline-block;

               span{
                cursor: pointer;
               }
              a{
                text-decoration: none;
                color: var(--color-text);
                font-size: 1.1em;
                font-weight: bold;
                cursor: pointer;
                padding: 0px 10px;
                &:hover{
                    color: var(--color-text-hover);
                }
              }
            }
        
    }

}